# GitHub OAuth App 配置
GITHUB_CLIENT_ID=Ov23liXKLMmuvTrvdxbP
GITHUB_CLIENT_SECRET=405278081b1496fd6425a5a739e4bfb24a37b505

# 管理员 GitHub 用户名
ADMIN_GITHUB_ID=logos-42

# GitHub 仓库配置
GITHUB_REPO=logos-42/my_web
GITHUB_BRANCH=main

# GitHub Personal Access Token (用于提交文件)
GITHUB_TOKEN=ghp_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
